<div class="registration-page">
    <h4 class="welcome">WelCome  {{user.fname}} {{user.lname}} </h4> <br>
   <h4 class="thank">Thank you {{user.fname}} to Create A room.</h4><br>
   <p class="admin-info"> Here are some options Available ,you can View your Room and Edit the previous added room. </p>


<div class="admin_options">
    <a href="/room-listing/create_rooms" class="Create-link">Create More Rooms</i></a>

    <a href="/room-listing/view_rooms" class="view-link">View and Update Rooms </i></a>
</div>

</div>
