
<div class="registration-page">
  <div style="text-align: center;margin:2em;font-size:1.5em; font-weight:bold;" >
     <a href="/room-listing/view_rooms" style="text-decoration:underline;color:rgb(133, 13, 79)"> Click Here to View added rooms</a>
</div>
    <div class="registration">
      <form action="/room-listing/create_rooms" method="POST" enctype="multipart/form-data">

        <h3>Create A Room </h3>
         <hr>
        <label class="U-label">Room Title</label>
        <input type="text" class="update-label" placeholder="Enter title" id="room_ttl" name="title">
        <br>

        <label class="U-label">Price</label>
        <input type="number" class="update-label" placeholder="Enter price" id="room_prc" name="price">
        <br>

        <label class="U-label"> Room Description</label>
        <input type="text" class="update-label" placeholder="Enter Description" id="room_dsc" name="description">  
        <br>
    
        <label class="U-label">Location</label>
        <input type="text" class="update-label" placeholder="Enter Location" id="room_lcn" name="location">
        <br>

        
        <label class="U-label">File Upload</label>
        <input type="file" class="update-label" name="roomImage" id="roomImage"> <br><br>

        <button type="submit" class="button"> ADD ROOM </button> 

        </form>
    </div>
</div>
    