<section class="dash">
    <div class="dashboard-heading">
        <h3> My dashboard</h3>
        <h3> Welcome Back, Bhawan Malhi!</h3>
    </div>
    <div class="dashboard-info">
        <div class="basic-info">
            <img src="/image/profile.jpg" alt="" class="image"><br>
            <h4>Bhawan Malhi</h4>
            <h4>Email : bhawansidhu2@gmail.com</h4>
            <h4>Contact : +1 6479961511</h4>
            <h4>Address : 30 Nautical Drive, Brampton, ON</h4>

            <p><button class="button1"> Edit your profile</button></p>
        </div>

        <div class="basic-info">
            <h3>Complete Your Profile</h3>
            <p> you can Upload your photo and add a important information to help hosts get to know you before inviting
                you into their home.</p>

            <h3> How to Book a Place</h3>
            <p>You can Search on airbnb for your interested place where you want to go, and get ready to search for the
                perfect place,and prepare for a memorable trip with your besties.</p>


            <h3>How can I help you?</h3>
            <h4>Contact with us:</h4>
            <p>Phone: 888-678-4578</p>
            <p>Fax: 888-678-4578</p>
            <p>Email : contactus@airbnb.ca</p>
        </div>

        <div class="basic-info">
            <h3>Your Upcoming Booking Details</h3>
            <div class="photos">
                <div class="place">
                    <div class="place-item">
                        <img src="image/beautiful apartment.jpg" alt="village residency" class="place-img" width="370px"
                            height="200px">
                    </div>
                    <div class="image-heading">
                        <a href="#Village Residency 1" class="image-link">luxurious and modern Apartment</a>
                        <p><i class="fas fa-building">&nbsp;</i>Apartment&nbsp;&nbsp;&nbsp;&nbsp;<i
                                class="fas fa-bed"></i>&nbsp; 2BR
                            &nbsp;&nbsp;&nbsp;&nbsp; <i class="fas fa-bath"></i>&nbsp;2BA </p>
                        <p><i class="fas fa-map-marker-alt"></i>&nbsp;&nbsp; 30 min from T3 airport Delhi</p>
                        <p class="bold">CAD 130 avg/night</p>
                        <a href="#" class="button">Learn More</a>
                        <div class="star">
                            <p><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                    class="fas fa-star"></i><i class="fas fa-star"></i></p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="place">
                <div class="place-item">
                    <img src="image/cozy house.jpg" alt="village residency" class="place-img" width="370px"
                        height="200px">
                </div>
                <div class="image-heading">
                    <a href="#Village Residency 1" class="image-link">one large beadroom apartment</a>
                    <p><i class="fas fa-building"></i>&nbsp;Apartment&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-bed"></i>
                        &nbsp;3BR
                        &nbsp;&nbsp;&nbsp;&nbsp; <i class="fas fa-bath"></i>&nbsp;1BA </p>
                    <p><i class="fas fa-map-marker-alt"></i>&nbsp;&nbsp; 30 min from T3 airport Delhi</p>
                    <p class="bold">CAD $80 avg/night</p>
                    <a href="#" class="button">Learn More</a>
                    <div class="star">
                        <p><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                class="fas fa-star"></i><i class="far fa-star"></i></p>
                    </div>
                </div>
            </div>
            
        </div>

        <div class="basic-info">
            <h3>Your Previous Booking Details</h3>
            <div class="place">
                <div class="place-item">
                    <img src="image/big apartment.jpg" alt="village residency" class="place-img" width="370px"
                        height="200px">
                </div>
                <div class="image-heading">
                    <a href="#Village Residency 1" class="image-link">Entire three bedroom apartment</a>
                    <p><i class="fas fa-building"></i>&nbsp;Apartment&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-bed"></i>
                        &nbsp;3BR
                        &nbsp;&nbsp;&nbsp;&nbsp; <i class="fas fa-bath"></i>&nbsp;1BA </p>
                    <p><i class="fas fa-map-marker-alt"></i>&nbsp;&nbsp; 2.3 mi to the vaishali metro station</p>
                    <p class="bold">CAD $150 avg/night</p>
                    <a href="#" class="button">Learn More</a>
                    <div class="star">
                        <p><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                class="far fa-star"></i><i class="far fa-star"></i></p>
                    </div>
                </div>
            </div>

            <div class="place">
                <div class="place-item">
                    <img src="image/cottage.jpg" alt="village residency" class="place-img" width="370px" height="200px">
                </div>
                <div class="image-heading">
                    <a href="#Village Residency 1" class="image-link">two bedroom in a large house</a>
                    <p><i class="fas fa-home"></i>House&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-bed"></i> 2BR
                        &nbsp;&nbsp;&nbsp;&nbsp; <i class="fas fa-bath"></i>2BA </p>
                    <p><i class="fas fa-map-marker-alt"></i>&nbsp;&nbsp; 3.1 mi to new Delhi Center</p>
                    <p class="bold">CAD $90 avg/night</p>
                    <a href="#" class="button">Learn More</a>
                    <div class="star">
                        <p><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                class="fas fa-star"></i><i class="fas fa-star"></i></p>
                    </div>
                </div>
            </div>

            <div class="place">
                <div class="place-item">
                    <img src="image/cozy house.jpg" alt="village residency" class="place-img" width="370px"
                        height="200px">
                </div>
                <div class="image-heading">
                    <a href="#Village Residency 1" class="image-link">one large beadroom apartment</a>
                    <p><i class="fas fa-building"></i>&nbsp;Apartment&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-bed"></i>
                        &nbsp;3BR
                        &nbsp;&nbsp;&nbsp;&nbsp; <i class="fas fa-bath"></i>&nbsp;1BA </p>
                    <p><i class="fas fa-map-marker-alt"></i>&nbsp;&nbsp; 30 min from T3 airport Delhi</p>
                    <p class="bold">CAD $80 avg/night</p>
                    <a href="#" class="button">Learn More</a>
                    <div class="star">
                        <p><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                class="fas fa-star"></i><i class="far fa-star"></i></p>
                    </div>
                </div>
            </div>

        </div>
    </div>

</section>