<section class="room-listing-main">
     <div class="main-heading">
         <h2>Your Profile</h2>
     </div>

    <div class="dashboard-section">
        <div class="profile-section">
            <img src="/images/user_pic.png" alt="User Pic">
            <p>Photo</p>
            <a href="#" class="btn"> View Profile</a>
        </div>

        <div class="heading">
        <h2>Welcome to Airbnb, Iqbal!</h2>
        <div class="welcome-section">
            <p>Check your messages, view upcoming trip information, and find travel inspiration all from your dashboard.
                Before booking your first stay, make sure to: </p>
            <h3>Complete Your Profile</h3>
            <p>Upload a photo and write a short bio to help hosts get to know you before inviting you into their home.
            </p>
            <h3>Provide ID</h3>
            <p>Some hosts require guests to provide ID before booking. Get a head start by doing it now.</p>
            <h3>Learn How to Book a Place</h3>
            <p>Get ready to search for the perfect place, contact hosts, and prepare for a memorable trip.</p>

        </div>
    </div>
    <div class="heading">
        <h3>Notifications</h3>
        <p>Add your work email to unlock extra perks for business trips, like simplified expensing.</p>
        <p>Get references from friends—it’s easier to book a place when hosts know a little bit about you.</p>
        <p>Please confirm your email address by clicking on the link we just emailed you. If you cannot find the email, you can request a new confirmation email, or change your email address.</p>

    </div>
    





</section>
