<section>
    <div class="dashboard-heading">
    <h3 > My dashboard</h3>
    <h3> Welcome Back, Bhawan Malhi!</h3>
    </div>
    <article class="dashboard-info">
        <div class="basic-info">
            <img src="/image/profile.jpg" alt="" class="image"><br>
            <h4>Bhawan Malhi</h4>
            <h4>Email : bhawansidhu2@gmail.com</h4>
            <h4>Contact : +1 647-345-4567</h4>
            <h4>Address : 30 Nautical Drive, Brampton, ON</h4>
            
            <p><button class="button1"> Edit your profile</button></p>
        </div>

        <div class="basic-info">
            <h3>Complete Your Profile</h3>
            <p> you can Upload your photo and add a important information to help hosts get to know you before inviting
                you into their home.</p>
            
            <h3> How to Book a Place</h3>
            <p>You can Search on airbnb for your interested place where you want to go, and get ready to search for the
                perfect place,and prepare for a memorable trip with your besties.</p>

        
            <h3>How can I help you?</h3>
            <h4>Contact with us:</h4>
            <p>Phone: 888-678-4578</p>
            <p>Fax: 888-678-4578</p>
            <p>Email : contactus@airbnb.ca</p>
    
    </article>

</section>