<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Airbnb- Creation of Airbnb website by using Node Js and express handlebars.">
    <meta name="author" content="Bhawanpret Kaur Sidhu">
    <script src="https://kit.fontawesome.com/70195ad3d9.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <title>{{title}}</title>
</head>

<body>
    <header>
        <div class="part1">
            <div class="navbar">
                <div class="logo">
                    <img src="image/logo.png" alt="Airbnb Logo"
                        style="width: 80px;  height: 80px;  background-position: center;  background-repeat: no-repeat;">
                </div>
                <ul>
                    <li><a href="#registration">Registration</a></li>
                    <li><a href="#LogIn">Log In</a></li>
                    <li><a href="#trip boards">Trip Board</a></li>
                    <li><a href="#About us">About Us</a></li>
                    <li><a href="#help"> Help</a></li>
                    <li><a href="#Feedback">Feedback</a></li>
                </ul>
            </div>

        </div>
    </header>


    <section>
        <div class="booking-search">
            <div class="booking-form">
                <div>
                    <h2>Beach House? Condo? Cabin? <br> Your perfect location awaits ! </h2>
                </div>
                <div class="form">
                    <form class="form" method="post" action="/search places">

                        <div class="form-label">
                            <label for="where"><b>Where : </b></label>
                            <input type="text" placeholder="Anywhere" name="Where">
                        </div>

                        <div class="form-label">
                            <label for="Arrive"><b>Arrive : </b></label>
                            <input type="date" placeholder="dd-mm-yyyy" name="Arrive">
                        </div>


                        <div class="form-label">
                            <label for="Depart"><b>Depart : </b></label>
                            <input type="date" placeholder="dd-mm-yyyy" name="Depart">
                        </div>

                        <div class="form-label">
                            <label for="guests"><b>Guests : </b></label>
                            <input type="text" placeholder="Guests" name="guests">
                        </div>

                        <input type="submit" class="search-button" value="Search">
                    </form>
                </div>
            </div>


        </div>
    </section>

    <section>
        <div class="main-heading">
            <h2>Search More Places !</h2>
        </div> 

        <div class="explore" id="places-block">
            <section class="productCard">
                <div class="contaner">
                    <img src="image/south.jpg" alt="Southern USA" style="width: 300px; height: 200px">
                </div>
                <div class="content_x">
                    <p class="p-heading"><strong>Southern USA</strong></p>
                </div>
            </section>

            <section class="productCard">
                <div class="contaner">
                    <img src="image/china.jpg" alt="china" style="width: 300px; height: 200px">
                </div>
                <div class="content_x">
                    <p class="p-heading"><strong>The New China</strong></p>
                </div>
            </section> 

            
            <section class="productCard">
                <div class="contaner">
                    <img src="image/goa.jpg" alt="goa" style="width: 300px; height: 200px">
                </div>
                <div class="content_x">
                    <p class="p-heading"><strong>GOA</strong></p>
                </div>
            </section> 

            
            <section class="productCard">
                <div class="contaner">
                    <img src="image/dubai.jpg" alt="dubai" style="width: 300px; height: 200px">
                </div>
                <div class="content_x">
                    <p class="p-heading"><strong>Dubai</strong></p>
                </div>
            </section> 

            
            <section class="productCard">
                <div class="contaner">
                    <img src="image/kashmir.jpg" alt="kashmir" style="width: 300px; height: 200px">
                </div>
                <div class="content_x">
                    <p class="p-heading"><strong>Kashmir,INDIA</strong></p>
                </div>
            </section> 

            
            <section class="productCard">
                <div class="contaner">
                    <img src="image/pakistan.gif" alt="pakistan" style="width: 300px; height: 200px">
                </div>
                <div class="content_x">
                    <p class="p-heading"><strong>The New Pakistan</strong></p>
                </div>
            </section> 
            


        </div>
    </section>


    <footer>
        <div class="footer-area">
            <div class="explore">
                <ul>
                    <li><a href="#trip boards">Trust & Safety</a></li>
                    <li><a href="#About us">Book with cconfidence</a></li>
                    <li><a href="#login">Community</a></li>
                    <li><a href="#help"> Discovery Hub</a></li>
                    <li><a href="#Feedback">Vacation rental Guides</a></li>
                </ul>
            </div>

            <div class="policy">
                <ul>
                    <li><a href="#trip boards">Terms & Services</a></li>
                    <li><a href="#About us">Privacy Policies</a></li>
                </ul>
            </div>


            <div class="social">

                <ul>
                    <li><a href="#facebook"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#facebook"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#facebook"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#facebook"><i class="fab fa-youtube"></i> </a></li>
                </ul>
            </div>


            <div class="copyright">
                <p> &copy; 2019 Airbnb, all right reserved</p>
            </div>
        </div>
    </footer>
</body>

</html>